<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
<h1 class="select-test">메인 페이지</h1>
<p class="test-append"></p>
<div class="atag"><a href="sub.html">서브페이지로 이동</a></div>
<div style="border: 1px dotted lightblue" id="image-holder"></div>
<p class="test aa ccc"></p>
<button class="button-s">버튼 텍스트</button>
</body>
</html>