/* 천번째 파일 */
body{
    color: darkblue;
    font-size: 14px;
    line-height: 1;
}
.img-holder{
    border: 1px solid green;
    padding:2px;
}
.img-holder img{
    max-width: 100%;
}
.img-jpg{
    background: url('/src/images/icon_jpg.jpg') no-repeat center center;
}
.img-svg{
    background: url('/src/images/icon_svg.svg') no-repeat center center;
}

#heading:empty:before{
    content:'입력전입니다.';
    color: #eaeaea;
}

.box-in *{
    height: 40px;
    vertical-align: middle;
}